{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h3>Hello, welcome to the ols website, the schedule, standings, and team pages are functional.  All OLS captains need to contact me in order to change their passwords so they can edit the schedule</h3>
<br />
Stats page will go live after the first few games this week are finished in order to populate it
<br />
By next week the site will have tournament codes that are usable by players and captains in order to make game lobbies
<img src="{% static "img/intro.jpg" %}" />

{% endblock %}